{{>header}}

<div class="about">

    <div class="wrapper target">
        <div class="text">
            <h1>Cyber Security</h1>
            <p>
                I am a cybersecurity expert, and my areas of expertise cover a wide range. Below, you can find a list of
                various services and activities I can provide:
                Network Security,
                Vulnerability Assessment and Penetration Testing,
                Incident Investigation and Response,
                Information Security Policies and Standards,
                Security Systems and Tools,
                Software Security,
                Cloud Security,
                Threat Intelligence and Analysis,
                Consulting and Training .
                I have expertise in each of the above areas and offer tailored solutions to my clients, helping make
                their systems more secure.


            </p>
        </div>
        <div class="photo">
            <img src="/img/6597461.jpg" alt="">
        </div>
    </div>

    <!-- ayraç -->

    <div class="wrapper target">
        <div class="text">
            <h1>Website Developer</h1>
            <p>
                I am a website developer, and my areas of expertise cover a wide range. Below, you can find a list of
                various services and activities I can provide:
                Front-End Development,
                Back-End Development,
                Responsive and Mobile-Friendly Design,
                E-Commerce Solutions,
                Website Maintenance and Optimization,
                Custom Web Applications,
                CMS Integration (e.g., WordPress, Joomla),
                SEO Optimization,
                UI/UX Design.
                I have expertise in each of the above areas and offer tailored solutions to my clients, helping create
                efficient and visually appealing websites.


            </p>
        </div>
        <div class="photo">
            <img src="/img/879d91a7-e5ab-4f57-b485-68eb059f7ab7.jpg" alt="">
        </div>
    </div>

    <!-- ayraç -->


    <div class="wrapper target">
        <div class="text">
            <h1>Backend Developer</h1>
            <p>
                I am a backend developer, and my areas of expertise cover a wide range. Below, you can find a list of
                various services and activities I can provide:
                Database Design and Management,
                API Development and Integration,
                Server-Side Logic Implementation,
                Performance Optimization and Scalability,
                Authentication and Authorization Systems,
                Microservices Architecture,
                Cloud Integration and Deployment,
                Bug Fixing and Maintenance,
                DevOps Practices,
                Programming languages I am proficient in include : {
                Python,
                Node.js,
                PHP,
                Ruby,
                C#,
                Go,
                SQL.
                }
                I have expertise in each of the above areas and offer tailored solutions to my clients, helping create
                robust and efficient backend systems.


            </p>
        </div>
        <div class="photo">
            <img src="/img/system-update-maintenance-loading-installation-software-technology-internet-application-flat-vector-illustration-banner-background-landing-page-website_128772-2292.jpg"
                alt="">
        </div>
    </div>

    <!-- ayraç -->


    <div class="wrapper target">
        <div class="text">
            <h1>Mobile Application</h1>
            <p>
                I am a mobile application developer, and my areas of expertise cover a wide range. Below, you can find a
                list of various services and activities I can provide:
                Native Mobile App Development (iOS and Android),
                Cross-Platform App Development,
                UI/UX Design and Prototyping,
                Mobile App Testing and Debugging,
                API Integration and Backend Connectivity,
                Performance Optimization and Scalability,
                App Store Submission and Maintenance,
                Push Notifications and In-App Messaging,
                Third-Party SDK Integration.
                I have expertise in each of the above areas and offer tailored solutions to my clients, helping create
                user-friendly and high-performing mobile applications.

            </p>
        </div>
        <div class="photo">
            <img src="/img/2e85162a-de4b-432f-b1bb-23c1a3ac0e29.jpg" alt="">
        </div>
    </div>

</div>
</div>