
{{>header}}

    <div class="about">

        <div class="wrapper target">
            <div class="text">
                <h1>Cyber Security</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, corporis in accusamus impedit libero reprehenderit facere facilis odit blanditiis recusandae quae tempora distinctio vero reiciendis est, alias debitis molestias pariatur?
                </p>
            </div>
            <div class="photo">
                <img src="/img/6597461.jpg" alt="">
            </div>
        </div>

        <!-- ayraç -->

        <div class="wrapper target">
            <div class="text">
                <h1>Website Developer</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, corporis in accusamus impedit libero reprehenderit facere facilis odit blanditiis recusandae quae tempora distinctio vero reiciendis est, alias debitis molestias pariatur?
                </p>
            </div>
            <div class="photo">
                <img src="/img/879d91a7-e5ab-4f57-b485-68eb059f7ab7.jpg" alt="">
            </div>
        </div>

        <!-- ayraç -->


        <div class="wrapper target">
            <div class="text">
                <h1>Backend Developer</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, corporis in accusamus impedit libero reprehenderit facere facilis odit blanditiis recusandae quae tempora distinctio vero reiciendis est, alias debitis molestias pariatur?
                </p>
            </div>
            <div class="photo">
                <img src="/img/system-update-maintenance-loading-installation-software-technology-internet-application-flat-vector-illustration-banner-background-landing-page-website_128772-2292.jpg" alt="">
            </div>
        </div>

        <!-- ayraç -->


        <div class="wrapper target">
            <div class="text">
                <h1>Mobile Application</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, corporis in accusamus impedit libero reprehenderit facere facilis odit blanditiis recusandae quae tempora distinctio vero reiciendis est, alias debitis molestias pariatur?
                </p>
            </div>
            <div class="photo">
                <img src="/img/2e85162a-de4b-432f-b1bb-23c1a3ac0e29.jpg" alt="">
            </div>
        </div>

    </div>
    </div>

