<div class="logReg">
    <img src="/img/c478bee2-872e-42b7-969a-13ec8c36d55f.jpg" alt="login">
    <form id="login">
        <div class="formGroup">
            <input name="username" type="text" required>
            <span>Username *</span>
        </div>

        <div class="formGroup">
            <input name="password" type="text" required>
            <span>Password *</span>
        </div>
        <div class="btnGroup">
            <a href="/register">Don't you have an account</a>
            <button>Login</button>
        </div>
    </form>
</div>

<div class="logMessage">
    <p id="loginMessage"></p>
</div>

<script>
    const login = document.getElementById('login')
    const loginMessage = document.getElementById('loginMessage')

    const clearMessageForlogin = () => {
        setTimeout(() => {
            loginMessage.innerHTML = ''

        }, 1000 * 8)
    }

    login.addEventListener('submit', (e) => {
        e.preventDefault()
        const formData = new FormData(e.target)


        fetch('/login', {
            method: 'post',
            body: formData
        }).then(response => response.json())
            .then(res => {
                if (res.case) {
                    loginMessage.style.color = '#22C55E';
                    loginMessage.innerHTML = res.message;
                    setTimeout(() => {
                        window.location.href = '/'
                    }, 1000 * 2)

                }
                else {
                    loginMessage.style.color = '#EF4444';
                    loginMessage.innerHTML = res.message;
                    clearMessageForlogin()


                }
            })
    })
</script>