<div class="logReg">
    <img src="/img/b49fc967-ab0a-418d-b0ca-7b106c98b127.png" alt="register">
    <form id="register">
        <div class="formGroup">
            <input name="email" type="text" required>
            <span>Email *</span>
        </div>

        <div class="formGroup">
            <input name="username" type="text" required>
            <span>Username *</span>
        </div>

        <div class="formGroup">
            <input name="password" type="text" required>
            <span>Password *</span>
        </div>
        <div class="btnGroup">
            <a href="/login">Do you have an account</a>
            <button>Register</button>
        </div>

    </form>
    <div class="message">

        <p id="registerMessage">
        </p>

    </div>
</div>
<script>
    const register = document.getElementById('register')
    const registerMessage = document.getElementById('registerMessage')

    const clearMessageForRegister = () => {
        setTimeout(() => {
            registerMessage.innerHTML = ''

        }, 1000 * 8)
    }

    register.addEventListener('submit', (e) => {
        e.preventDefault()
        const formData = new FormData(e.target)


        fetch('/register', {
            method: 'post',
            body: formData
        }).then(response => response.json())
            .then(res => {
                if (res.case) {
                    registerMessage.style.color = '#22C55E';
                    registerMessage.innerHTML = res.message;
                    setTimeout(() => {
                        window.location.href = '/'
                    }, 1000 * 2)

                }
                else {
                    registerMessage.style.color = '#F62F63';
                    registerMessage.innerHTML = res.message;
                    clearMessageForRegister()


                }
            })
    })
</script>